*
{
     box-sizing:border-box
}
html, body
{
     min-height:100vh;
     width:100%;
     margin:0;
     padding:0;
     font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
     line-height:1.4;
     font-size:16px;
}
body
{
     display:flex;
     flex-direction:column;
     align-items:center;
     justify-content: center;
     font-size:100%;
     color:#222;
     background:#fefefe;
     position:relative;
}
.body__dark
{
     background:#222;
     color:#fefefe;
     padding-top:0;
}
.container
{
     display:flex;
     flex-direction:column;
     width:100%;
     
     max-width:90em;
     padding:5rem 2em 3rem;
}
.container__fullheight
{
     min-height:100vh;
}
.container__map
{
     height:100vh;
}
h1
{
     font-size:2.75em;
     font-weight:400;
     margin:0 0 0.25em;
     padding:0;
}
h2
{
     font-size:1.75em;
     margin:0 0 0.25em;
     padding:0;
     font-weight:200;
}
a
{
     text-decoration: none;
     color:#007bff;
}
a:hover,
a:focus,
a:active
{
     color:#007bff;
     text-decoration: underline;
}
.top-bar
{
     display:flex;
     background:#222;
     color:#fefefe;
     position:fixed;
     top:0;
     left:0;
     width:100%;
     align-items:center;
     height:3rem;
     line-height:1;
     padding:0 1em;
     font-size:0.75em;
     z-index:999;
}
.home-btn
{
     color:#fefefe;
     text-decoration: none;
     border-radius:0.0625em;
     display:flex;
     height:2rem;
     align-items:center;
     padding:0 1em;
}
.home-btn:hover,
.home-btn:focus,
.home-btn:active
{
     background:rgba(255,255,255,0.1);
     text-decoration: none;
     color:#fefefe;
}
.home-btn .fas
{
     padding-right:0.5em;
     position:relative;
     top:0.01em;
}
@media(min-width:768px)
{
     html
     {
          font-size:18px;
     }
}